@using DemoScore.Models;
@using DemoScore.Models.ViewModel;
@using ReportViewerForMvc;
@model AdminReports
@if (TempData["Menssages"] != null)
{
    @section Scripts {
        <script type="text/JavaScript">
            $(document).ready(function () {
                $("#Menssages").modal();
            });
        </script>
    }}

<style>

    a {
        background-color: #B0002D00;
    }

</style>

<div id="Menssages" class="modal fade" role="dialog">
    <div class="modal-dialog1">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    @TempData["Menssages"]
                </p>
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<br />
<br /><br />
<h1 class="title">GESTIÓN REPORTES</h1>


<div class="row fecha">
    <div class="btn-group btn-breadcrumb">
        <a href="@Url.Action("Index", "Home")" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
    </div>
</div>

<div class="jumbotron3">
    <div class="col-md-4">
        <a href='@Url.Action("ReporteGeneral", "Admin", new {id =@Model.company_Id})'>
            <img src='@Url.Content("~/Content/Imagenes/progreso_curso.png")' style="width:70%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Progreso General", "ReporteGeneral", "Admin", new { ReturnUrl = ViewBag.ReturnUrl, id = @Model.company_Id }, new { @class = "", role = "form", @style = "background-color:transparent;color:#000;" })</h4>
    </div>
    <div class="col-md-4">
        <a href='@Url.Action("ReporteCategoria", "Admin", new {id =@Model.company_Id})'>
            <img src='@Url.Content("~/Content/Imagenes/usuarios_registrados.png")' style="width:70%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Reporte de categorias", "ReporteCategoria", "Admin", new { ReturnUrl = ViewBag.ReturnUrl, id = @Model.company_Id }, new { @class = "", role = "form", @style = "background-color:transparent;color:#000;" })</h4>
    </div>
    <div class="col-md-4">
        <a href='@Url.Action("ReporteResultadosusuario", "Admin", new {id =@Model.company_Id})'>
            <img src='@Url.Content("~/Content/Imagenes/usuarios_registrados.png")' style="width:70%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Progreso usuario", "ReporteResultadosusuario", "Admin", new { ReturnUrl = ViewBag.ReturnUrl, id = @Model.company_Id }, new { @class = "", role = "form", @style = "background-color:transparent;color:#000;" })</h4>
    </div>
    <!-- <div class="col-md-3">
        <a href='@Url.Action("Reporteresultadoscategorias", "Admin", new {id =@Model.company_Id})'>
            <img src='@Url.Content("~/Content/Imagenes/progreso_curso.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Progreso Categorias", "Reporteresultadoscategorias", "Admin", new { ReturnUrl = ViewBag.ReturnUrl, id = @Model.company_Id }, new { @class = "", role = "form", @style = "background-color:transparent;color:#000;" })</h4>
    </div>

    <h4>@Html.ActionLink("RDLC", "ReportByCompany", "Admin", new { ReturnUrl = ViewBag.ReturnUrl, id = @Model.company_Id }, new { @class = "", role = "form", @style = "background-color:transparent;color:#000;" })</h4>
         -->
    <div class="col-md-12">
        <br />
    </div>
    @if (ViewBag.ReportViewer != null)
    {

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x: scroll;  border: 2px solid gray;">
                @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "no", style = "width: 100%; height: 100%; " })
            </div>
        </div>
    }
</div>