@using DemoScore.Models.ViewModel;
@model QuestionSelect
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/Chart.js")
@if (TempData["Info"] != null)
{
    @section Scripts {
        <script type="text/JavaScript">
            $(document).ready(function () {
                $("#DeleteInfo").modal();
            });
        </script>
    }}
<div id="DeleteInfo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <h1 style="color:red"> @TempData["Info"]</h1>
                <br />


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<body style="background:url(../ImgTemplate/@Model.setting.MG_Template.Plant_Img_Questions); background-size: cover;background-position: center center;background-repeat: no-repeat;background-attachment: fixed;">
    <br /><br /><br /><br /><br /><br />
    @using (Html.BeginForm("AnswerQuestions", "ViewGameUser", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
            if (Model.setting.Sett_Audio4 != null)
            {
                <!--<audio src="~/ResourceGame/@Model.setting.Sett_Audio4" autoplay loop></audio>-->
            }

        for (int i = 0; i < Model.listquestionsselect.Count; i++)
        {
            <div class="preguntas col-md-12" align="center">
                <div style="background:url('../ImgTemplate/CUADROPREGUNTA(3).png');background-repeat: no-repeat; width:1080px;height:440px;padding:10px;">
                    @if (@Model.listquestionsselect[i].MuCh_Description != null)
                    {
                        <br /><br /><br /><br /><br />
                        <h1 aling="justify">@Model.listquestionsselect[i].Contexto.Contex_Desc</h1>
                        <h1>@Model.listquestionsselect[i].MuCh_Description</h1>
                    }
                    else
                    {
                        <img src="~/Mg_Game_Image/@Model.listquestionsselect[i].MuCh_ImageQuestion" style="width:400px; height:210px" />
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="jumbotron3">
                    <div class="col-md-12">
                        <br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pruebas">
                    <br />
                    <a class="Select" href="#" onclick="UpdateModule('@Model.listquestionsselect[i].listanswerM[0].AnMul_ID')" data-cname="@Model.listquestionsselect[i].listanswerM[0].AnMul_ID"><h1>A. @Model.listquestionsselect[i].listanswerM[0].AnMul_Description</h1></a>
                </div>
            </div>
            <br />
                <div class="col-md-6">
                    <div class="pruebas3">
                        <br />
                        <a class="Select" href="#" onclick="UpdateModule('@Model.listquestionsselect[i].listanswerM[1].AnMul_ID')" data-cname="@Model.listquestionsselect[i].listanswerM[1].AnMul_ID"><h1>B. @Model.listquestionsselect[i].listanswerM[1].AnMul_Description</h1></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pruebas2">
                        <br />
                        <a class="Select" href="#" onclick="UpdateModule('@Model.listquestionsselect[i].listanswerM[2].AnMul_ID')" data-cname="@Model.listquestionsselect[i].listanswerM[2].AnMul_ID"><h1>C. @Model.listquestionsselect[i].listanswerM[2].AnMul_Description</h1></a>
                    </div>
                </div>
                <br />
                <div class="col-md-6">
                    <div class="pruebas4">
                        <br />
                        <a class="Select" href="#" onclick="UpdateModule('@Model.listquestionsselect[i].listanswerM[3].AnMul_ID')" data-cname="@Model.listquestionsselect[i].listanswerM[3].AnMul_ID"><h1>D. @Model.listquestionsselect[i].listanswerM[3].AnMul_Description</h1></a>
                    </div>
                </div>

        }
        <div class="jumbotron3">
            <div class="col-md-12">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">

            </div>
        </div>
    }
</body>

<script>
    function UpdateModule(AnMul_ID)
{
      var a = AnMul_ID;
      window.location.href = '@Url.Action("AnswerQuestions", "ViewGameUser", new { id ="ID"})'.replace("ID", a);
    }
</script>